@function cal_clamp($val_min, $val_max, $vw_min: 375, $vw_max: 1820) {
  $resp: ($val_max - $val_min) / ($vw_max - $vw_min);
  $fixa: $val_min - ($resp * $vw_min);

  $min_rem: $val_min / 10;
  $max_rem: $val_max / 10;
  $fixa_rem: $fixa / 10;

  @return clamp(
    #{$min_rem}rem,
    calc(#{$fixa_rem}rem + #{$resp * 100}vw),
    #{$max_rem}rem
  );
}