:root {
  --cor-clara: #DBF5FE;
  --cor-primaria: #49DDFC;
  --cor-secundaria: #2CB4CE;
  --cor-primaria-escura: #208BA0;
  --azul-petroleo: #146575;
  --azul-escuro: #0A414C;
  --cor-fundo: #032026;
  --cor-botoes: #2cb3ce61;
}