@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  display: flex;
  flex-flow: column;
  align-items: none;
  justify-content: none;
  gap: 5rem;
  flex-wrap: nowrap;
  font-family: "Nunito", sans-serif;
  background-color: #050816;
  color: #e2e8f0;
  height: 100dvh;
}

h1 {
  font-size: clamp(2rem, 1.714rem + 0.893vw, 3rem);
  font-weight: bold;
  line-height: 0;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  color: #e2e8f0;
}
h1:hover {
  cursor: pointer;
}

h2 {
  font-family: "Archivo Black";
  color: #e2e8f0;
  font-weight: bolder;
}

p {
  font-size: clamp(1.8rem, 1.5vw + 1.3rem, 2rem);
  font-weight: normal;
  line-height: 1.1;
  color: #e2e8f0;
  text-align: justify;
}

a {
  font-size: 2rem;
  font-weight: normal;
  line-height: 0;
  color: #e2e8f0;
  text-decoration: none;
  text-transform: capitalize;
}

span {
  font-size: clamp(1.6rem, 1.486rem + 0.357vw, 2rem);
  font-weight: bold;
  line-height: 0;
  color: #e2e8f0;
  text-transform: uppercase;
  color: #38bdf8;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.cabecalho {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem;
  height: 7rem;
  width: 100vw;
}
.cabecalho__container {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: none;
  gap: 1rem;
  flex-wrap: wrap;
}
.cabecalho__link {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  padding: 0.5rem;
}
.cabecalho__link img {
  width: 100%;
  height: auto;
}
.cabecalho__nav {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
}
.cabecalho__botton {
  background-color: transparent;
  width: 5rem;
  height: 2.5rem;
  border: none;
}
.cabecalho__botton img {
  width: 100%;
  height: 100%;
  color: #e2e8f0;
}
.cabecalho__botton:hover {
  cursor: pointer;
}

.hero {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  flex-wrap: wrap;
}
.hero__container-lancamento {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: none;
  gap: 5rem;
  flex-wrap: nowrap;
  padding: 3rem;
  flex: 1 1 40%;
}
.hero__container-lancamento h2 {
  font-size: 8rem;
  font-weight: bolder;
  line-height: 8rem;
  color: #e2e8f0;
  text-transform: uppercase;
}
.hero__container-imagem {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  justify-content: center;
  gap: 0;
  flex-wrap: wrap;
  height: 80dvh;
  flex: 0 1 50%;
  background-image: radial-gradient(ellipse 53rem 13rem at 50% 75%, #06b6d4, rgba(81, 197, 249, 0.34), transparent 48%), radial-gradient(ellipse 50rem 51rem at 57% 44%, #06b6d4, rgba(81, 197, 249, 0.34), transparent 53%);
}
.hero__container-imagem img {
  width: auto;
  height: 67vh;
}
.hero__container-botoes {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.hero__container-botoes #botao-comprar {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  font-size: 1.9rem;
  font-weight: bold;
  line-height: 0;
  color: #e2e8f0;
  background-color: #2d6aee;
  width: 17rem;
  height: 4rem;
  border-radius: 7px;
  border: none;
  flex-wrap: nowrap;
}
.hero__container-botoes #botao-comprar i {
  font-size: 2.5rem;
}
.hero__container-botoes #botao-comprar:hover {
  cursor: pointer;
}
.hero__container-botoes #botao-saiba-mais {
  font-size: 1.9rem;
  font-weight: bold;
  line-height: 0;
  color: #e2e8f0;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  flex-wrap: wrap;
  background-color: #2d6aee;
  width: 16rem;
  height: 4rem;
  border-radius: 7px;
  border: none;
}
.hero__container-botoes #botao-saiba-mais i {
  font-size: 2.5rem;
}

/*# sourceMappingURL=main.css.map */
