@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
:root {
  --cor-clara: #DBF5FE;
  --cor-primaria: #49DDFC;
  --cor-secundaria: #2CB4CE;
  --cor-primaria-escura: #208BA0;
  --azul-petroleo: #146575;
  --azul-escuro: #0A414C;
  --cor-fundo: #032026;
  --cor-botoes: #2cb3ce61;
}

button, .hero__container-botoes #botao-saiba-mais {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-wrap: nowrap;
  font-size: 1.9rem;
  font-weight: bold;
  line-height: 0;
  color: var(--cor-clara);
  width: 17rem;
  height: 4rem;
  background-color: var(--cor-botoes);
  border-radius: 1.7rem;
  border: none;
  color: var(--cor-primaria);
  box-shadow: 0 4px 12px rgba(73, 221, 252, 0.2);
}

.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  display: flex;
  flex-flow: column;
  align-items: normal;
  justify-content: normal;
  gap: 1rem;
  flex-wrap: nowrap;
  font-family: "Nunito", sans-serif;
  background-color: var(--cor-fundo);
  color: var(--cor-clara);
  height: auto;
}
body main {
  display: flex;
  flex-flow: column;
  align-items: normal;
  justify-content: normal;
  gap: 0;
  flex-wrap: nowrap;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 0;
  color: var(--cor-primaria);
  margin-top: 1rem;
  text-transform: uppercase;
}
h1:hover {
  cursor: pointer;
}

h2 {
  font-family: "Archivo Black";
  color: var(--cor-primaria);
  font-weight: bolder;
}

p {
  font-size: clamp(1.6rem, 1.5221rem + 0.2076vw, 1.9rem);
  font-weight: normal;
  line-height: 1.1;
  color: var(--cor-clara);
  text-align: justify;
}

a {
  font-size: 2rem;
  font-weight: normal;
  line-height: 0;
  color: var(--cor-secundaria);
  text-decoration: none;
  text-transform: capitalize;
}

span {
  font-size: clamp(1.6rem, 1.486rem + 0.357vw, 2rem);
  font-weight: bold;
  line-height: 0;
  color: var(--cor-clara);
  text-transform: uppercase;
  color: var(--cor-primaria);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.cabecalho {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  flex-wrap: wrap;
  width: 100vw;
  height: auto;
  padding: 0 1.5rem;
  background-color: var(--cor-fundo);
  position: fixed;
}
.cabecalho__container {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: none;
  gap: 1rem;
  flex-wrap: wrap;
  width: auto;
  height: auto;
}
.cabecalho__link {
  display: inline-block;
  width: 6rem;
  height: auto;
}
.cabecalho__link img {
  width: 100%;
  height: auto;
}
.cabecalho__nav {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  gap: 7rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.cabecalho__botton {
  background-color: transparent;
  width: 3rem;
  height: auto;
  border: none;
}
.cabecalho__botton img {
  width: 94%;
  height: auto;
}
.cabecalho__botton:hover {
  cursor: pointer;
}
.cabecalho__container-compras {
  padding: 2rem;
}

.hero {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  flex-wrap: wrap;
  background-image: url(/src/assets/images/svg_imagem-gato-fundo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  padding: 2rem;
  min-height: 100vh;
}
.hero__container-lancamento {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: normal;
  gap: 5rem;
  flex-wrap: nowrap;
  flex: 1 1 35%;
  padding: 4rem;
}
.hero__container-lancamento h2 {
  font-size: 5rem;
  font-weight: bolder;
  line-height: 2rem;
  color: var(--cor-secundaria);
  text-transform: uppercase;
}
.hero__container-titulo-lancamento {
  display: flex;
  flex-flow: row;
  align-items: normal;
  justify-content: flex-end;
  gap: 0;
  flex-wrap: wrap;
  width: 46rem;
  margin-bottom: 3rem;
}
.hero__container-titulo-lancamento div h2 {
  font-size: 6rem;
  color: var(--cor-primaria);
}
.hero__container-resumo {
  display: flex;
  flex-flow: column;
  align-items: baseline;
  justify-content: normal;
  gap: 8rem;
  flex-wrap: nowrap;
  width: 46rem;
}
.hero__container-botoes {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: nowrap;
}
.hero__container-botoes #botao-saiba-mais i {
  font-size: 2.5rem;
}
.hero__container-imagem {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-wrap: nowrap;
  flex: 1 1 auto;
}
.hero__container-imagem div {
  width: 34vw;
}
.hero__container-imagem div img {
  width: 100%;
  height: auto;
}

.recursos {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 0;
  flex-wrap: nowrap;
  padding: 2rem;
  min-height: 100vh;
}
.recursos h2 {
  font-size: 2rem;
  font-weight: normal;
  line-height: 2rem;
  color: var(--cor-primaria);
  text-transform: uppercase;
}
.recursos__container {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: normal;
  gap: 5rem;
  flex-wrap: wrap;
}
.recursos__card {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 0;
  flex-wrap: nowrap;
  width: 25rem;
  height: 39rem;
  padding: 1.3rem;
  background-color: rgba(3, 32, 38, 0.631372549);
  border-radius: 2rem;
  box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.25);
}
.recursos__card h2 {
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 2rem;
  color: var(--cor-primaria);
  text-transform: lowercase;
  text-align: center;
}
.recursos__card i {
  font-size: 6rem;
  color: var(--cor-primaria);
}
.recursos__card div {
  width: 9rem;
  text-align: center;
  border: 0.2rem solid var(--cor-secundaria);
  border-radius: 1.7rem;
  background-color: rgba(44, 179, 206, 0.568627451);
}

.cores {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  flex-wrap: wrap;
  min-height: 70vh;
}
.cores__descricao {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  justify-content: normal;
  gap: 2rem;
  flex-wrap: nowrap;
  flex: 0 1 40%;
}
.cores__descricao h2 {
  font-size: 5rem;
  font-weight: normal;
  line-height: 5rem;
  color: var(--cor-secundaria);
  text-transform: uppercase;
  text-align: end;
}
.cores__descricao h2 span {
  font-size: 5rem;
  font-weight: bolder;
  line-height: 0;
  color: var(--cor-primaria);
  text-transform: uppercase;
}
.cores__container-btns {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: nowrap;
  margin-top: 2rem;
}
.cores__container-btns button {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  border: none;
}
.cores__container-btns #btn-azul {
  background-color: #8DB9E6;
}
.cores__container-btns #btn-lilas {
  background-color: #A68DCB;
}
.cores__container-btns #btn-preto {
  background-color: #000001;
}
.cores__container-btns #btn-branco {
  background-color: #D6D6D8;
}
.cores__container-btns #btn-esq, .cores__container-btns #btn-dir {
  background-color: transparent;
  width: auto;
  height: auto;
}
.cores__container-btns #btn-esq i, .cores__container-btns #btn-dir i {
  font-size: 2.5rem;
  color: var(--cor-primaria);
}
.cores__imagens {
  flex: 0 0 40%;
  padding: 3rem;
}
.cores__imagens img {
  width: 100%;
  height: auto;
}

.sobre {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
  flex-wrap: wrap;
  min-height: 100vh;
  padding: 0 2rem;
}
.sobre__container-detalhes {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: normal;
  gap: 4rem;
  flex-wrap: nowrap;
  flex: 1 0 50%;
}
.sobre__container-imagens {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.sobre__container-imagens div {
  width: 22rem;
  height: 21rem;
  background-color: transparent;
  border-radius: 0.8rem;
  border: 0.1rem solid var(--azul-petroleo);
}
.sobre__container-imagens div img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.sobre__container-venda {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: normal;
  gap: 0;
  flex-wrap: nowrap;
  flex: 0 1 40%;
}
.sobre__container-venda button {
  width: 100%;
}
.sobre__container-descricao {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: normal;
  gap: 3rem;
  flex-wrap: nowrap;
  width: 80%;
}
.sobre__container-descricao h2 {
  font-size: 2.5rem;
  font-weight: normal;
  line-height: 3rem;
  color: var(--cor-primaria);
  text-transform: uppercase;
}
.sobre__venda {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: normal;
  gap: 1rem;
  flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 1rem;
}
.sobre__venda strong {
  font-size: 5rem;
}
.sobre__venda p {
  font-size: 1.7rem;
  font-weight: normal;
  line-height: 0;
  color: var(--cor-clara);
}
.sobre__venda p span {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 0;
  color: var(--cor-primaria);
  text-transform: uppercase;
}

/*# sourceMappingURL=main.css.map */
