@use "../abstracts" as abs;

button{
    @include abs.flex(row, nowrap, center, center, 0);
    @include abs.textos(1.9rem, bold, 0, var(--cor-clara));
    @include abs.hw(4rem, 17rem);
    background-color: var(--cor-botoes);
    border-radius: 1.7rem;
    border: none;
    color: var(--cor-primaria);
    box-shadow: 0 4px 12px rgba(73, 221, 252, 0.2);
}