@use "../abstracts/mixins" as mix;

.cabecalho{
    @include mix.flex(row, wrap, center, space-between, 0);
    @include mix.hw(auto, 100vw);
    padding: 0 1.5rem;
    background-color: var(--cor-fundo);
    position: fixed;

    &__container{
        @include mix.flex(row, wrap, center, none, 1rem);
        @include mix.hw(auto, auto);
    }
    
    &__link{
        display: inline-block;
        @include mix.hw(auto, 6rem);
        img{
            @include mix.hw(auto, 100%);
        }
    }

    &__nav{
        @include mix.flex(row, wrap, center, center, 7rem);
        margin-top: 1rem;
        
    }

    &__botton{
        background-color: transparent;
        @include mix.hw(auto, 3.5rem);
        border: none;

        & img{
            @include mix.hw(auto, 94%);
        }

        &:hover{
            cursor: pointer;
        }
    }

    &__container-compras{
        @include mix.flex(row, nowrap, center, center, 3rem);
    }

}
