@use "../base/mixes" as mix;

.cabecalho{
    @include mix.flex(row, wrap, center, space-between, 1rem);
    padding: 1rem;
    height: auto;
    width: 100vw;

    &__container{
        @include mix.flex(row, wrap, center, none, 1rem);
        width: auto;
    }
    
    &__link{
        display: inline-block;
        width: clamp(60px, 4vw + 1rem, 100px);
        height: auto;
        img{
            width: 100%;
            height: auto;
        }
    }

    &__nav{
        @include mix.flex(row, wrap, center, center, 7rem);
        margin-top: 0.5rem;
        
    }

    &__botton{
        background-color: transparent;
        width: 6rem;
        height: auto;
        border: none;

        & img{
            width: 96%;
            height: auto;
        }

        &:hover{
            cursor: pointer;
        }
    }

    &__container-compras{
        @include mix.flex(row, nowrap, center, center, 4rem);
        padding: 1rem;
    }

}
