@use "../abstracts" as abs;

.cabecalho{
    @include abs.flex(row, wrap, center, space-between, 0);
    @include abs.hw(auto, 100vw);
    padding: 0 1.5rem;
    background-color: var(--cor-fundo);
    position: fixed;

    &__container{
        @include abs.flex(row, wrap, center, none, 1rem);
        @include abs.hw(auto, auto);
    }
    
    &__link{
        display: inline-block;
        @include abs.hw(auto, 6rem);
        img{
            @include abs.hw(auto, 100%);
        }
    }

    &__nav{
        @include abs.flex(row, wrap, center, center, 7rem);
        margin-top: 1rem;
        
    }

    &__botton{
        background-color: transparent;
        @include abs.hw(auto, 3rem);
        border: none;

        & img{
            @include abs.hw(auto, 94%);
        }

        &:hover{
            cursor: pointer;
        }
    }

    &__container-compras{
        padding: 2rem;
    }

}
