@use "../base/mixes" as mix;
@use "../abstracts/variaveis" as var;

.hero{
    @include mix.flex(row, wrap, center, space-around, 2rem);
    background-image: url(/src/assets/images/svg_imagem-gato-fundo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    padding: 2rem;
    min-height: 100vh;

    &__container-lancamento{
        @include mix.flex(column, nowrap, flex-start, normal, 5rem);
        flex: 1 1 35%;
        padding: 4rem;
        
        h2{
            @include mix.textos(5rem, bolder, 2rem, var(--cor-secundaria));
            text-transform: uppercase;
        }
    }

    &__container-titulo-lancamento{
        @include mix.flex(row, wrap, normal, flex-end, 0);
        width: 46rem;
        margin-bottom: 3rem;

        div h2{
            font-size: 6rem;
            color: var(--cor-primaria);
        }
    }

    &__container-resumo{
        @include mix.flex(column, nowrap, baseline, normal, 8rem);
        width: 46rem;
    }

    &__container-botoes{
        @include mix.flex(row, nowrap, center, center, 2rem);

        #botao-comprar{
            @include mix.flex(row, nowrap, center, center, 0);
            @include mix.textos(1.9rem, bold, 0, var(--cor-clara));
            @include mix.hw(4rem, 17rem);
            background-color: var(--cor-botoes);
            border-radius: 1.7rem;
            border: none;
            color: var(--cor-primaria);
            box-shadow: 0 4px 12px rgba(73, 221, 252, 0.2);

            &:hover{
                cursor: pointer;
            }
        }

        #botao-saiba-mais{
            @include mix.textos(1.9rem, bold, 0, var(--cor-primaria));
            @include mix.hw(4rem, 16rem);
            @include mix.flex(row, nowrap, center, center, 0.3rem);
            background-color: var(--cor-botoes);
            border-radius: 1.7rem;
            border: none;
            text-transform: none;
            box-shadow: 0 4px 12px rgba(73, 221, 252, 0.2);

            i{
                font-size: 2.5rem;
            }
        }
    }

    &__container-imagem{
        @include mix.flex(row, nowrap, center, center, 0);
        flex: 1 1 auto;

        div{
            width: 29vw;

            img{
                @include mix.hw(auto, 100%);
            }
        }
    }
}



    
