@use "./mixes" as mix;

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
    @include mix.flex(column, nowrap, none, none, 5rem);
    font-family: "Nunito", sans-serif;
    background-color: var(--cor-fundo);
    color: var(--cor-clara);
    height: auto;
}

h1{
    @include mix.textos(clamp(20px, 2vw + 1rem, 50px), bold, 0, var(--cor-primaria));
    margin-top: 0.5rem;
    text-transform: uppercase;
    
    &:hover{
        cursor: pointer;
    }
}

h2{
    font-family: "Archivo Black";
    color: var(--cor-primaria);
    font-weight: bolder;
}

p{
    @include mix.textos(clamp(1.8rem, 1.5vw + 1.3rem, 2rem), normal, 1.1, var(--cor-clara));
    text-align: justify;
}

a{
    @include mix.textos(3rem, normal, 0, var(--cor-secundaria));
    text-decoration: none;
    text-transform: capitalize;

}

span{
    @include mix.textos(clamp(1.6rem, calc(1.486rem + 0.357vw), 2rem), bold, 0, var(--cor-clara));
    text-transform: uppercase;
    color: var(--cor-primaria);
}
